<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ed5d332d-7ef5-48b7-9f61-1bb3e6effb21/resourcegroups/comp584/providers/Microsoft.Web/sites/RealEstateListingAPI20231214210956</ResourceId>
    <ResourceGroup>comp584</ResourceGroup>
    <ApiResourceId>/subscriptions/ed5d332d-7ef5-48b7-9f61-1bb3e6effb21/resourceGroups/comp584/providers/Microsoft.ApiManagement/service/RealEstateListingAPIapi/apis/RealEstateListingAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://realestatelistingapi20231214210956.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9c62a727-8765-4199-89ea-066b0e7f3493</ProjectGuid>
    <MSDeployServiceURL>realestatelistingapi20231214210956.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RealEstateListingAPI20231214210956</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$RealEstateListingAPI20231214210956</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>